django
djangorestframework
djangorestframework-simplejwt
django-cors-headers
django-filter
psycopg2-binary
python-decouple
Pillow
requests
whitenoise
dj-database-url
cloudinary
django-cloudinary-storage